In [1]:
import pandas as pd
import numpy as np
from joblib import dump

In [2]:
data = pd.read_excel("komentar/data_clean_from_dataset.xlsx")
komentar = data.komentar.tolist()
label = np.array(data.label.tolist())
y = label
data.head()

   Unnamed: 0  no     label                                           komentar
0           0   0  non spam  waduh mara ken ae mbak via ni kirim balikpapan...
1           1   1      spam  awass akun adu domba min tu org suka nyinyirin...
2           2   2  non spam  begini kalo ga biasa lipsing sekali lipsing ku...
3           3   3  non spam  nitijen mha bebar bkin mlu 2 ajh kliaan apa sd...
4           4   4      spam  maantaap banggeet kaak ssetelaah akuu pakee ge...

# Pemodelan

## Pemodelan TF-IDF

In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(komentar)
save = vectorizer.fit(komentar)
dump(save, "model/tfidf.w")

#print(vectorizer.get_feature_names())
print(X.shape)

(4948, 14795)

## Pemodelan MNB

In [1]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()

# Pelatihan dan Validasi Model

In [5]:
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score

skf = StratifiedKFold(n_splits=10)
skf.get_n_splits(X, y)

start = 0.001
stop = 1
step = start
alpha_list = np.arange(start,stop+step,step)
akurasi = list()

ix = 0
for alpha in alpha_list:
    clf.set_params(alpha=alpha)
    temp_akurasi = list()
    
    for train_index, test_index in skf.split(X, y):
        X_train, X_test = X[train_index], X[test_index]
        y_train, y_test = y[train_index], y[test_index]
        
        clf.fit(X_train,y_train)
        
        y_pred = clf.predict(X_test)
        temp_akurasi.append(accuracy_score(y_test, y_pred))
        
    rerata_akurasi = sum(temp_akurasi)/len(temp_akurasi)
    akurasi.append(rerata_akurasi)
    
    ix +=1
    if ix%100 !=0:
        print(".", end="")
    else:
        print("")

        pass

ditt = {
    "alpha":alpha_list,
    "akurasi":akurasi
}

index = akurasi.index(max(akurasi))
acc = pd.DataFrame.from_dict(ditt)
acc

...................................................................................................
...................................................................................................
...................................................................................................
...................................................................................................
...................................................................................................
...................................................................................................
...................................................................................................
...................................................................................................
...................................................................................................
...................................................................................................

     alpha   akurasi
0    0.001  0.944834
1    0.002  0.946047
2    0.003  0.947058
3    0.004  0.948474
4    0.005  0.948676
5    0.006  0.949283
6    0.007  0.949687
7    0.008  0.949283
8    0.009  0.949283
9    0.010  0.949890
10   0.011  0.949891
11   0.012  0.950295
12   0.013  0.950295
13   0.014  0.950497
14   0.015  0.950295
15   0.016  0.950295
16   0.017  0.950700
17   0.018  0.950700
18   0.019  0.950902
19   0.020  0.951104
20   0.021  0.951104
21   0.022  0.951305
22   0.023  0.951508
23   0.024  0.951508
24   0.025  0.951710
25   0.026  0.951912
26   0.027  0.951912
27   0.028  0.951912
28   0.029  0.951912
29   0.030  0.951912
..     ...       ...
970  0.971  0.951515
971  0.972  0.951515
972  0.973  0.951515
973  0.974  0.951515
974  0.975  0.951515
975  0.976  0.951515
976  0.977  0.951515
977  0.978  0.951515
978  0.979  0.951515
979  0.980  0.951515
980  0.981  0.951515
981  0.982  0.951515
982  0.983  0.951515
983  0.984  0.951515
984  0.985  0.951515
985  0.986  0.951515
986  0.987  0.951515
987  0.988  0.951515
988  0.989  0.951515
989  0.990  0.951515
990  0.991  0.951515
991  0.992  0.951313
992  0.993  0.951313
993  0.994  0.951313
994  0.995  0.951313
995  0.996  0.951313
996  0.997  0.951313
997  0.998  0.951313
998  0.999  0.951313
999  1.000  0.951313

[1000 rows x 2 columns]

In [6]:
print(alpha_list[index])
print(akurasi[index])

0.20600000000000002
0.9561642941099647

# Menyimpan Model

In [7]:
clf.set_params(alpha=alpha_list[index])
clf.fit(X, y)

dump(clf, "model/mnb.m")

['model/mnb.m']