In [1]:
from scrap_instagram import instagram
import pandas as pd

In [2]:
file = "data/2.html"
hasil = instagram.get_comments(file)

In [ ]:
panjang_komentar

In [15]:
dict_ = {
    "panjang":panjang_komentar,
    "komentar":hasil
}
df = pd.DataFrame.from_dict(dict_)
df.to_excel(" ".join(file.replace("/","_").split(".")[:-1])+".xlsx")
df

                                              komentar
0    Saya ada cara untuk cepat langsing tanpa harus...
1                                       @putririzky20_
2    Bang RS banyak yg butuh sumbangan baik masker ...
3    bang saya punya angsuran ke bank sama motor..t...
4                                               😂😂😂👏👏👏
..                                                 ...
347                                               👍👍👍👍
348  Saya telah mengirim pesan ke bapa semoga bapa ...
349  @hotmanparisofficial tar tau tau dendanya besa...
350                                         Mantappp👍👍
351              Klw pinjaman online gimana bang...???

[352 rows x 1 columns]